.vendaInfoContainer {
    background-color: white;
    position: absolute;
    left: 3%;
    right: 50%;
    top: 73.5%;
    bottom: 13%;
    display: flex;
    flex-direction: row;
  }
  
  .vendaInfoContainer p {
    padding: 1% 1%;
    margin-top: 4%;
    margin-right: 12%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
  }
  
  @media only screen and (min-width: 1020px) {
    .vendaInfoContainer p {
      font-size: 14px;
    }
  }
  
  .searchContainer {
    background-color: #ddd;
    position: absolute;
    left: 52%;
    right: 37%;
    top: 73.5%;
    bottom: 13%;
  }
  
  .searchContainer:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  .searchContainer h2 {
    text-align: center;
    text-decoration: none;
    font-size: 12px;
  }
  
  @media only screen and (min-width: 1020px) {
    .searchContainer h2 {
      font-size: 20px;
    }
  }
  
  @media only screen and (min-width: 800px) and (max-width: 1020px) {
    .searchContainer h2 {
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 800px) {
    .searchContainer h2 {
      font-size: 14px;
    }
  }
  
  .vendaPrecoContainer {
    background-color: white;
    position: absolute;
    left: 65%;
    right: 23%;
    top: 73.5%;
    bottom: 13%;
  }
  
  .vendaPrecoContainer h1 {
    text-align: center;
    margin-top: 15%;
    color: red;
    text-decoration: none;
    font-size: 30px;
  }
  
  .vendaBottomContainer {
    background-color: rgb(157, 255, 101);
    position: absolute;
    left: 79%;
    right: 5%;
    top: 73.5%;
    bottom: 13%;
  }
  
  .vendaBottomContainer:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  .vendaBottomContainer h1 {
    text-align: center;
    margin-top: 12.5%;
    text-decoration: none;
    font-size: 20px;
  }